Given I have a 'string dictionary' named 'authorization_details'
and I have a 'time' named 'expires_in'
and I have a 'string' named 'id_test'

When I pickup from path 'authorization_details.claims.id'
and I verify 'id' is equal to 'id_test'

When I create the 'string dictionary' named 'holder_claims'
and I set 'tested' to 'true' as 'string'
and I move 'tested' in 'holder_claims'

Then print the 'holder_claims'
and print the 'expires_in'
and print the 'authorization_details'