ncr
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*~

# process
.env
*/custom_code
*.pid

# secrets
credential_issuer/secrets.keys
authz_server/secrets.keys
verifier/secrets.keys

# authorization server chain
authz_server/authorize_backend.chain.yaml

# credential issuer nonces and chain
credential_issuer/nonces/
credential_issuer/credential.chain.yaml

# verifier api produced on the fly
verifier/response/
public/verifier/request/
public/verifier/transaction/
verifier/verifier.chain.yaml
