{
   "vp_token":{
      "example_dc+sd-jwt":[
         "eyJhbGciOiAiRVMyNTYiLCAidHlwIjogImRjK3NkLWp3dCJ9.eyJfc2QiOiBbIkZjbHQxWXJNSnRtRG55a0IxZkFFTlBDRDFWUlBwVUhjTXU1akxjTzlmY1EiXSwgIl9zZF9hbGciOiAic2hhLTI1NiIsICJleHAiOiAxNzg4NjgyNDk0LCAiaWF0IjogMTc1NDM4MTY5NCwgImlzcyI6ICJodHRwOi8vbG9jYWxob3N0OjMwMDEvY3JlZGVudGlhbF9pc3N1ZXIiLCAibmJmIjogMTc1NDM4MTY5NCwgInN1YiI6ICJkaWQ6ZHluZTpzYW5kYm94LnNpZ25yb29tOlBURHZ2UW4xaVdRaVZ4a2ZzRG5VaWQ4RmJpZUtiSHE0NlFzOGM5Q1p4NjciLCAidHlwZSI6ICJ0ZXN0X2NyZWRlbnRpYWwifQ.6TQMlsjrfLB8A1IGbv1KJULNJVrDP33VT9cWIXt7SS3zYrD-02dD8-9rQakh8_q5wTxJ0ed_vQ9jk4Z_VGNCkQ~WyJxUEVSbkVrbUZZWUNLR2hQdkV3WXZBIiwgInRlc3RlZCIsICJ0cnVlIl0~eyJhbGciOiJFUzI1NiIsInR5cCI6ImtiK2p3dCJ9.eyJpYXQiOjE3NTQzODE2OTcsIm5vbmNlIjoiZWJmYmE3OTViOWNmOTcwZGYwZWE4YmQxN2UzODQ5ODZiNjY5ODFmNGI0Y2I5MmExOGI5ZWFiZmQ1NDI3YTlhNSIsInNkX2hhc2giOiI4YTU1MWZkZTEwOTdhZGY3NDgzNTYzNWQ1ZWVmNzFlMzlhOGUzODljZGQzMjk4ODU3MWE2NzNjZjc1YjVkNTdiIn0.TP1UkXP9wJST2J-InwMhxeb_hAvY3kNGgum3ubHIrxoWovKLxCahYLxGVsTWqdSlP1w5GyDlgKRYaaFtaI38TA"
      ]
   }
}